<div class="container">
    <h3 class="text-center">{{title}} - Welcome <span id="user"></span>!</h3>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="new-message">
            <label for="message">Message</label>
        </div>
    <div id="all-messages"></div>
</div>
