<div class="container">
    <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">{{firstName}}</div>
        <div class="card-body">
            <h5 class="card-title">{{lastName}}</h5>
            <p class="card-text">{{email}}</p>
        </div>
    </div>
</div>