<div class="container">
    <form action="http://localhost:8080/api/users/login" method="post">
        <div class="form-floating m-3">
            <input type="email" class="form-control" name="email" id="email">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating m-3">
            <input type="password" class="form-control" name="password" id="password">
            <label for="password">Password</label>
        </div>
        <button type="submit" class="btn btn-primary m-3">Enviar</button>
    </form>
    <a href="http://localhost:8080/api/users/github" class="btn btn-primary m-3">Login con github</a>
</div>