<div class='container'>
</div>

<div class='container' style='width: 100vh;'>
    <div class='row d-flex justify-content-center align-items-center' style='height: 100vh;'>
        <div class='column d-flex justify-content-center'>
            <div class='card' style='width: 30rem;'>
                <div class='card-body'>
                    <div class='card-title m-3'>
                        <h2>Registro</h2>
                    </div>
                    <form action='/views/users/register' method='post'>
                        <div class='form-floating m-3'>
                            <input
                                type='text'
                                class='form-control'
                                name='firstName'
                                id='firstName'
                            />
                            <label for='firstName'>First Name</label>
                        </div>
                        <div class='form-floating m-3'>
                            <input
                                type='text'
                                class='form-control'
                                name='lastName'
                                id='lastName'
                            />
                            <label for='lastName'>Last Name</label>
                        </div>
                        <div class='form-floating m-3'>
                            <input type='email' class='form-control' id='email' name='email' />
                            <label for='email'>Email address</label>
                        </div>
                        <div class='form-floating m-3'>
                            <input type='number' class='form-control' name='age' id='age' />
                            <label for='age'>Age</label>
                        </div>
                        <div class='m-3'>
                            <select
                                class='form-select'
                                aria-label='Default select example'
                                name='rol'
                            >
                                <option value='user' selected>user</option>
                                <option value='premium'>premium</option>
                                <option value='admin'>admin</option>
                            </select>
                        </div>
                        <div class='form-floating m-3'>
                            <input
                                type='password'
                                class='form-control'
                                name='password'
                                id='password'
                            />
                            <label for='password'>Password</label>
                        </div>
                        <div class='btn-group m-3'>
                            <button type='submit' class='btn btn-secondary'>Enviar</button>
                            <a href='/views/users/login' class='btn btn-outline-dark'>Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>