<div class='container' style='width: 100vh;'>
    <div class='row d-flex justify-content-center align-items-center' style='height: 100vh;'>
        <div class='column d-flex justify-content-center'>
            <div class='card' style='width: 30rem;'>
                <div class='card-body'>
                    <div class='card-title m-3'>
                        <h2>Restaurar contrase単a</h2>
                    </div>
                    <form action='/views/users/verify' method='post'>
                        <div class='form-floating m-3'>
                            <input
                                type='password'
                                class='form-control'
                                name='password'
                                id='password'
                            />
                            <label for='password'>Nueva contrase単a</label>
                        </div>
                        <div class='btn-group m-3'>
                            <button type='submit' class='btn btn-secondary'>Enviar</button>
                            <a href='/views/users/login' class='btn btn-outline-dark'>Login</a>
                        </div>
                    </form>
                    {{#if equalPassword}}
                        <div class='alert alert-danger' role='alert'>
                            No puedes ingregar la misma contrase単a!
                        </div>
                    {{/if}}
                    {{#if emptyPassword}}
                        <div class='alert alert-danger' role='alert'>
                            No puedes ingregar una contrase単a vacia!
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>